esb/app/mule/.mule/apps/Kallsonys/paymentverifycc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <flow name="paymentcheckFlow">
        <http:listener config-ref="HTTP_Listener_Configuration_back" path="/payment/verifyCC" allowedMethods="POST" doc:name="HTTP"/>
        <logger message="#[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
        <parse-template location="paymentVerifyCCRq" doc:name="Parse Template"/>
        <ws:consumer config-ref="WSCBackPayment" operation="VerifyCC" doc:name="WSCPaymentVerifyCC"/>
        <json:xml-to-json-transformer doc:name="XML to JSON"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-payload value="{&quot;errorCode&quot;:&quot;400&quot;, &quot;errorMessage&quot;:&quot;#[exception.message]&quot;}" doc:name="Set Payload"/>
            <json:object-to-json-transformer doc:name="Object to JSON"/>
        </catch-exception-strategy>
    </flow>
</mule>
