esb/app/mule/Kallsonys/src/main/app/payment.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="9090"  doc:name="HTTP Listener Configuration" basePath="esb"/>
    <ws:consumer-config name="WSCBackPayment" service="ValidateCreditCard" port="ValidateCreditCard" serviceAddress="http://localhost:7001/Payment/ValidateCreditCard" wsdlLocation="http://localhost:7001/Payment/ValidateCreditCard?WSDL" doc:name="Web Service Consumer"/>
    <http:listener-config name="HTTP_Listener_Configuration_back" host="0.0.0.0" port="9191" doc:name="HTTP Listener Configuration"/>
    <flow name="paymentFlow">
        <http:listener config-ref="HTTP_Listener_Configuration_back" path="/payment" allowedMethods="POST" doc:name="HTTP"/>
        <logger message="#[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
        <parse-template location="paymentRq" doc:name="PTPaymentRq"/>
        <ws:consumer config-ref="WSCBackPayment" operation="Payment" doc:name="WSCBackPayment"/>
        <json:xml-to-json-transformer doc:name="XML to JSON"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-payload value="{&quot;errorCode&quot;:&quot;400&quot;, &quot;errorMessage&quot;:&quot;#[exception.message]&quot;}" doc:name="Set Payload"/>
            <json:object-to-json-transformer doc:name="Object to JSON"/>
        </catch-exception-strategy>
    </flow>
</mule>
